/catDog[[:space:]]model/Alexnet_model.h5 filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/10295.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/10325.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/10352.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/12354.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/2968.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/3339.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/3375.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/3468.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/3649.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/5425.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/6691.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/6906.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/7400.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/7431.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/8183.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/8596.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/8832.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/cats/9186.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/1017.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/10321.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/11987.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/12018.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/12102.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/2915.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/2955.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/4640.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/4751.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/4996.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/653.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/7158.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/7888.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/8030.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/8126.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/8495.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/9026.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/9254.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/9287.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/alexnet_model/images/pets2/test_set2/dogs/9699.jpg filter=lfs diff=lfs merge=lfs -text
/catDog[[:space:]]model/weights_.hdf5 filter=lfs diff=lfs merge=lfs -text
